    <div class="p-5 mb-4 <%= @api_color %> rounded-3">
      <div class="container-fluid py-5">
        <h1 class="display-5 fw-bold"><%= @final_output %></h1>
        <p class="col-md-8 fs-4"><%= @description %></p>
        <p class="col-mm-8 fs-6">Hit reload in your web browser to update the reading.</p>

        <%# <button class="btn btn-secondary btn-lg" type="button">Go!</button> %>
      </div>
    </div>

    <br/>

